@charset "UTF-8";

.tabela{
	border: 1px solid green;
}

.cabecalho{
	text-align: center;
	font: 13px arial, sans-serif;
	font-weight: bold;
	color: snow;
	background: #008845;
}

.colNumero{
	text-align: center;
	font: 13px arial, sans-serif;
	background: #BCEE68;
	padding: 3px;
	width: 30px;
}

.colData{
	text-align: center;
	font: 13px arial, sans-serif;
	background: #A2CD5A;
	padding: 3px;
	width: 100px;
}

.colDesc{
	text-align: left;
	font: 13px arial, sans-serif;
	background: #BCEE68;
	padding: 3px;
	width: 200px;
}

.colValor{
	text-align: right;
	font: 13px arial, sans-serif;
	background: #A2CD5A;
	padding: 3px;
	width: 100px;
}

.colOp{
	text-align: center;
	font: 13px arial, sans-serif;
	background: #BCEE68;
	padding: 3px;
	width: 120px;
}

.smallInput{
	width: 85px;
}

.bigInput{
	width: 180px;
}

.formLabel{
	font: 13px arial, sans-serif;
}

.message{
	font: 13px arial, sans-serif;
	font-weight: bold;
	color: red;
}